<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do List</title>
    <link rel="stylesheet" href="style.css">

<!--    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script> -->

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  </head>
  <body>
    <h1>To Do List</h1>

  <form action ='/' id='formulaire'>
    Tache a enregistrer :
    <input id='txt' type='text' name='todoList' placeholder='taper votre texte' value=''></input>
    <input type='submit'value='enregistrer'></input>
  </form>


  </body>

<script src='./script.js'></script>

</html>
